# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "g9LH6JHqSrW+Kc2wyYib2sQxk/MfOUep0iUspoayjdCFwr/0zekZUHqtRXHV1NMPnJfbqkq2SDja3s8r8qHg6frFk1WRcC2ux3n7bEykuNbe4+HoYBzgHm36MZPj/2Vhe7l4EqzUGBxXXCJfrd7SDGNzoBFzybe+iH/6dGKithrZlX9kUqkJ270MDekGxkv6fyQKW9dLz99vgbyH5gKz9+nwavaiQel0IlHpimJEBxhCu7RL7AzMou/g4zbhCABqiKUPH4m2HIT93Rmb3M1KZG6E6rAJ1xNcSn98bDsj6bkMOTlB0j7nGXfBeOLkPEyN0F1PfiPQuKau+Zjw+wFRBpIpLMVekB6y4G18SJp5xKTMQpVQfaA3nB2fNz6DJrkVyWEf0zzMi9LNXx5qch1HB572R/bxhu9BjEPsBU51wvO6E/F+tgCRAPzdgDOoCl0EiWWzhuevMOImD7P6W548s7ltMAR4rtJsOYpnpsG53DZ3/jGM3GvnFT+QVZSNyDFMVNDsBuUMB41/fa3wbTjUqDkveveDtJGiWn75Bfb4YV6DmlWLY0syiikIt0fS9C39FeCZW15iq3L+j/dmGkwRiIQxs1U2X1k6sK4IS87GBMosH1VT+NiDkLSYAQMtLbz8vjrtmAx8Ami5c7FWJsoy33tVnraiq4CfiygMKg3/bMw="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
